<h1>New Game</h1>

<div class="tab_letters">
  <ul class="letters">
    <% @letters.each do |letter| %>
      <li><%= "#{letter}" %></li>
    <% end %>
  </ul>
</div>

<div>
  <h2>What is the longest word you can find?</h2>
  <form action="/score" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= hidden_field_tag 'letters', @letters %>
    <input type="text" name="word" placeholder="Please enter your longest word " class="input">
    <input type="submit" value="Go!" class="btn">
  </form>
</div>
